{% block content %}
  <div class="card mb-4 shadow">

    <div class="card-body">
      <p>{{ comment.note }}
      </p>
      <div class="d-flex justify-content-between">
        <small>author:
          {{ comment.author.username }}
        </small>
        {%- comment -%} {% if plant.author == userId %} {%- endcomment -%}
            <div class="col deleteButton">
                <form action="/comment/delete/{{plant.id}}/{{comment.id}}?_method=DELETE" method="POST">
                    <input class="btn btn-warning" id="btnDelete" type="submit" value="X" style="float: right; padding: 10px;">
                </form>
            </div>
        {%- comment -%} {% endif %} {%- endcomment -%}
      </div>
    </div>
  </div>

{% endblock %}