{% block content %}
    <div class="card mb-4 shadow">
        <div class="card-body">
            {%- comment -%} <p>{{ favorite.note }}</p>
            <div class="d-flex justify-content-between">
                <small>author: {{ favorite.author }}</small> {%- endcomment -%}
                {% if plant.author == userId %}
                    <form action="/favorite/delete/{{plant.id}}/{{favorite.id}}?_method=DELETE" method="POST">
                        <button class="btn btn-default" type="submit">
                            {%- comment -%} full heart {%- endcomment -%}
                            <i class="bi bi-heart-fill"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}