{% layout 'layout.liquid' %}
{% block content %}
    <div class="col-mb-4">
        <h1 class="display-4">Welcome To The iGarden App</h1>
        <p>This app is all about gardening</p>
        <img src="/images/stone-walkway-leading-garden.jpeg" alt="image of a garden" height="200px">

    </div>
    <div class="btn-group btn-group-lg mt-4">
        <a href="/users/signup" class="btn btn-success">Sign Up</a>
        <a href="/users/login" class="btn btn-success">Login</a>
    </div>
{% endblock %}
