{% layout 'layout.liquid' %}
{% block content %}

        <div class="container-sm">
            <h3 style=" width: 100%; margin-top: 50px;">
                Ever wondered how to grow stuff? Me too!<br>This app will help us both accomplish that. This app shows various plants and the conditions they need to thrive.<br>Plants include herbs, flowers, vegetables, and fruits! Feel free to add any plants you don't see and add comments as you go.<br>New features coming soon!

            </h3>

{% endblock %}