{% layout 'layout.liquid' %}
{% block content %}

        <div class="container-sm">
            <h3 class="intro display-4" style="margin-left: auto; margin-right: auto; width: 50%; margin-top: 20px;">
                Ever wondered how to grow stuff? Me too! This app will help us both accomplish that. This app will show various plants and the conditions they need to thrive. Plants include herbs, flowers, vegetables, and fruits! Feel free to add any plants you don't see and add comments as you go.

            </h3>

{% endblock %}