{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm">
    <form action="/auth/login" method="POST">
        <fieldset>
            <legend class="intro"><h1>Welcome Back to the Garden </h1>
            <br> 
            <h3>Please log in to continue</h3>
            </legend>

            {%- comment -%} <label class="form-label">Username: </label> {%- endcomment -%}
            <input type="text" name="username" placeholder="username" class="form-control" required>
            {%- comment -%} <label class="form-label">Password:</label> {%- endcomment -%}
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
            
        </fieldset>
        <input type="submit" value="Log In" class="btn btn-success">
    </form>
</div>

{% endblock %}