{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm">
    <form action="/auth/signup" method="POST">
        <fieldset>
            <legend><h1>Join the Garden Community!</h1></legend>
            {%- comment -%} <label class="form-label">Username: </label> {%- endcomment -%}
            <input class="form-control" type="text" name="username" placeholder="username" required>
            {%- comment -%} <label class="form-label">Password</label> {%- endcomment -%}
            <input class="form-control" type="password" name="password" placeholder="enter password" required>
        </fieldset>
        <input type="submit" value="Create Account" class="btn btn-success">
    </form>
</div>

{% endblock %}