@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    /* background-color: gray; */
    font-family: 'Indie Flower', cursive;
    background-image: url(/);
}

/* img {
    width: 200px;
    height: 200px;
} */