@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');

body {
    font-family: 'Swanky and Moo Moo', cursive;
    color: rgb(84, 84, 84);
    background-image: url(/welcomePage.jpg);
    opacity: .7;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size:cover;
    /* display: block; */
    /* background-position: center; */
    text-align: center;
}

.navbar {
    font-size: 21px;
}

/* div for login.liquid, new.liquid */
.container-sm {
    background-color: rgba(170, 187, 97, 0.5);
    width: 50%;
    text-align: center;
}

/* legend {
    margin: 10px;
} */

.form-label {
    margin: 10px;
    text-align: center;
}

/* welcome pages */
.intro {
    margin-top: 60px;
    /* margin-bottom: 0; */
}

.subIntro {
    margin-top: 10px;
}

/* input boxes */
.form-control {
    margin: auto;
    margin-top: 10px;
    border: 10px solid none;
    padding: 10px;
    width: auto;
    font-size: 20px;
}

.btn {
    margin: 10px;
    font-size: 20px;
}

/* all plants */
.row {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    /* width: 40%; */
}

/* all plants */
.card {
    margin: 5px;
    background-color: blanchedalmond;
}

/* all plants */
.display-6 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* api and user data show */
.container-md {
    background-color: rgba(170, 187, 97, 0.5);
    text-align: center;
    display: grid;
}

/* api show annual and sun */
.features {
    margin: auto;
    border-top: 1px solid gray;
    padding: 10px;
    width: 50%;
    }

/* favorites heart */
.bi-heart {
    margin-top: 20px;
}

/* new.liquid */
.form-select {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

hr {
    size: 10px;
    color: rgb(43, 43, 43);
}