{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/plants" method="POST">
        <fieldset>
            <legend>Create New Plant</legend>
            <label class="form-label">Name: </label>
            <input 
                class="form-control"
                type="text" 
                name="name"
                required="true" 
                placeholder="Enter plant name"
            >
            <label class="form-label">Scientific Name:</label>
            <input 
                class="form-control"
                type="string" 
                name="scientific_name" 
                placeholder="Enter plant's scientific name" 
            >
            <label class="form-label">Description:</label>
            <textarea 
                class="form-control"
                type="string" 
                name="description" 
                placeholder="Describe plant here" 
            ></textarea>
            <label class="form-label">Perennial or Annual:</label>
            <select class="form-select" aria-label="Default select example" name="perrenial">
                <option selected>Perennial or Annual</option>
                <option value="Perennial">Perennial</option>
                <option value="Annual">Annual</option>
            </select>
            <label class="form-label">Sun conditions:</label><br>
            <select class="form-select" aria-label="Default select example" name="sun_requirement">
                <option selected>More sun or more shade</option>
                <option value="Full sun">Full sun</option>
                <option value="Part sun">Part sun</option>
                <option value="Part shade">Part shade</option>
                <option value="Full shade">Full shade</option>
            </select>
            {%- comment -%} Can I add an image input option here? {%- endcomment -%}
            {%- comment -%} <label class="form-label">Ready:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
            > {%- endcomment -%}
        </fieldset>
        <input type="submit" value="Create New Plant" class="btn btn-success">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}