{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/plants" method="POST">
        <fieldset>
            <legend>Create New Plant</legend>
            <label class="form-label">Name: </label>
            <input 
                class="form-control"
                type="text" 
                name="name"
                required="true" 
                placeholder="enter plant name"
            >
            <label class="form-label">Scientific Name:</label>
            <input 
                class="form-control"
                type="string" 
                name="binomial_name" 
                placeholder="enter plant's scientific name" 
            >
            <label class="form-label">Sun conditions:</label>
            {%- comment -%} <input  {%- endcomment -%}
            <div class="btn-group">
                <button 
                    class="btn btn-secondary dropdown-toggle"
                    type="button" 
                    data-bs-toggle="dropdown" 
                    data-bs-auto-close="outside" 
                    aria-expanded="false">
                    More sun or more shade
                </button>
                {%- comment -%} name="sun_requirements" {%- endcomment -%}
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Full sun</a></li>
                    <li><a class="dropdown-item" href="#">Part sun</a></li>
                    <li><a class="dropdown-item" href="#">Part shade</a></li>
                    <li><a class="dropdown-item" href="#">Full shade</a></li>
                </ul>
                    {%- comment -%} enum= "['Full sun', 'Part sun', 'Part shade', 'Full shade']" {%- endcomment -%}
            </div>
            {%- comment -%} > {%- endcomment -%}
            {%- comment -%} <label class="form-label">Ready:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
            > {%- endcomment -%}
        </fieldset>
        <input type="submit" value="Create New Plant" class="btn btn-success">
    </form>
</div>
{% endblock %}