{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/plants" method="POST">
        <fieldset>
            <legend>Create New Plant</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter plant name"
                class="form-control"
            >
            <label class="form-label">Scientific Name:</label>
            <input 
                type="text" 
                name="sciName" 
                placeholder="enter plant's scientific name" 
                class="form-control"
            >
            <label class="form-label">Sun conditions required:</label>
            <input 
                type="number" 
                name="amount"
                placeholder="enter percentage" 
                class="form-control"
            >
            {%- comment -%} <label class="form-label">Ready:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
            > {%- endcomment -%}
        </fieldset>
        <input type="submit" value="Create New Plant" class="btn btn-success">
    </form>
</div>
{% endblock %}